/*
CSS Module for Pattern component
*/

/*Pattern: lines displayed on top of the page*/
.lines {
  position: absolute;
  object-fit: fill;
  top: 0;
  height: 100vh;
}

/*Pattern: circle displayed on top left of the page*/
.circleTopLeft {
  position: absolute;
  top: -35px;
  left: -20px;
  height: 110px;
  width: 110px;
}

/*Pattern: circle displayed on top right of the page*/
.squigglyLineTop {
  position: absolute;
  top: 15px;
  right: 0;
  height: 70px;
  width: 140px;
}

/*Pattern: circle displayed on bottom right of the page*/
.circleBottomRight {
  position: absolute;
  bottom: 250px;
  right: -50px;
  height: 110px;
  width: 110px;
}

/*Pattern: squiggly line displayed on the bottom of the page for tablet and mobile*/
.squigglyLineBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 180px;
}

/*Pattern: squiggly line displayed on the bottom of the page for desktop*/
.squigglyLineBottomDesktop {
  display: none;
}

@media (min-width: 1000px) {
  /*Pattern: lines displayed on top of the page*/
  .lines {
    width: 100%;
    object-fit: cover;
  }

  /*Pattern: circle displayed on top left of the page*/
  .circleTopLeft {
    left: 60px;
  }

  /*Pattern: circle displayed on top right of the page*/
  .squigglyLineTop {
    top: 30px;
    right: 0;
    width: 300px;
    height: 208px;
  }

  /*Pattern: circle displayed on bottom right of the page*/
  .circleBottomRight {
    bottom: 310px;
    right: 245px;
  }

  /*Pattern: squiggly line displayed on the bottom of the page for desktop*/
  .squigglyLineBottomDesktop {
    display: unset;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 650px;
    height: 420px;
  }

  /*Pattern: squiggly line displayed on the bottom of the page for tablet and mobile*/
  .squigglyLineBottom {
    display: none;
  }
}

@media (min-width: 1400px) {
  /*Pattern: circle displayed on top left of the page*/
  .circleTopLeft {
    top: -80px;
    left: 130px;
    height: 210px;
    width: 210px;
  }

  /*Pattern: circle displayed on top right of the page*/
  .squigglyLineTop {
    top: 30px;
    right: 0;
    width: 446px;
  }

  /*Pattern: circle displayed on bottom right of the page*/
  .circleBottomRight {
    right: 650px;
    bottom: 430px;
    height: 210px;
    width: 210px;
  }

  /*Pattern: squiggly line displayed on the bottom of the page for desktop*/
  .squigglyLineBottomDesktop {
    width: 850px;
    height: 400px;
  }
}
